{
  "plugins": ["react", "react-native"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jest/recommended", "plugin:react-hooks/recommended"],
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "semi": "error"
  }
}